* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Teachers", sans-serif;
}

body {
    background: linear-gradient(to right, #5e90a9, #1c3b52);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


.contact-section {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 85vh;
    
}

.map-container {
    max-width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-container img {
    max-width: 85%;
    max-height: 100%;
    object-fit: cover;
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.formlayout {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 40%;
}

.form-container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

.contact-title {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
    color: #fff;
}

.contact-info {
    margin-bottom: 2rem;
}

.contact-info p {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: #fff;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 4px;
    background-color: transparent;
    border: #5ca3b4 2px solid;
    color: white;
    font-size: 1rem;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.contact-form textarea {
    height: 120px;
    resize: none;
}

.contact-form button {
    padding: 0.8rem 2rem;
    background-color: #5ca3b4;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: background-color 0.3s;
    align-self: flex-end;
    margin-left: auto;
    display: block;
}

.contact-form button:hover {
    background-color: #4a8a9a;
}

@media (max-width: 768px) {
    .contact-section {
        flex-direction: column;
        height: auto;
    }
    
    .map-container, .form-container {
        width: 100%;
        padding: 1.5rem;
    }
    
    .map-container {
        height: 300px;
    }
}